{{!
@param limit   int
@param offset  int
}}

PREFIX isvz: <http://linked.opendata.cz/ontology/isvz.cz/>
PREFIX pc:   <http://purl.org/procurement/public-contracts#>

SELECT ?s ?o ?feature
FROM <http://linked.opendata.cz/resource/dataset/isvz.cz>
WHERE {
  {
    SELECT ?contract
    WHERE {
      {
        SELECT DISTINCT ?contract
        WHERE {
          ?contract a pc:Contract ;
            pc:lot/pc:awardedTender/pc:bidder [] ;
            pc:mainObject|pc:additionalObject [] .
        }
        ORDER BY ?contract
      }
    }
    LIMIT {{limit}}
    OFFSET {{offset}}
  }
  VALUES ?feature {
    skos:closeMatch
    skos:related
  }
  ?contract pc:mainObject|pc:additionalObject ?s .
  ?s ?feature ?o .
}
