{{!
@param limit   int
@param offset  int
}}

PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

SELECT (skos:broaderTransitive AS ?feature) ?s ?o
FROM <http://linked.opendata.cz/resource/concept-scheme/cpv-2008>
WHERE {
  {
    SELECT ?s ?o
    WHERE {
      ?s skos:broaderTransitive ?o .
    }
    ORDER BY ?s
  }
}
LIMIT {{limit}}
OFFSET {{offset}}
